.mat-icon {
  vertical-align: sub;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card {
  width: 400px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}
.employee-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

table {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
}
.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card {
  width: 400px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}
